version: '3'

services:
  web:
    build: .
    command: "sh run.sh"
    ports:
      - "8021:8000"
    volumes:
      - .:/app
    env_file:
      - ".env"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://donald:chercheur@db:5432/testdatabase

  db:
    image: postgres:12
    environment:
      POSTGRES_DB: testdatabase
      POSTGRES_USER: donald
      POSTGRES_PASSWORD: chercheur

  nginx:
    image: nginx:latest
    ports:
      - 83:83
      - "8443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/dea.conf
      - .:/app
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - web


  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes: 
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --force-renewal --email donaldtedom0@gmail.com -d efficient-research.com --agree-tos     
